In [2]:
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt

In [3]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving creditcard.csv to creditcard.csv
User uploaded file "creditcard.csv" with length 150828752 bytes

In [4]:
data = pd.read_csv("creditcard.csv")

In [5]:
data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [6]:
data.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50      0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

In [7]:
data.tail()

            Time         V1         V2  ...       V28  Amount  Class
284802  172786.0 -11.881118  10.071785  ...  0.823731    0.77      0
284803  172787.0  -0.732789  -0.055080  ... -0.053527   24.79      0
284804  172788.0   1.919565  -0.301254  ... -0.026561   67.88      0
284805  172788.0  -0.240440   0.530483  ...  0.104533   10.00      0
284806  172792.0  -0.533413  -0.189733  ...  0.013649  217.00      0

[5 rows x 31 columns]

In [8]:
print(data.shape)

(284807, 31)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [10]:
y = data['Class']

In [13]:
x_train = data[:142400]
x_test = data[142400:227840]
x_val = data[227840:]

In [14]:
x_train.shape

(142400, 31)

In [15]:
y_train = y[:142400]
y_test = y[142400:227840]
y_val = y[227840:]

In [16]:
y_train.shape

(142400,)

In [18]:
mean = x_train.mean()
std = x_train.std()

x_train -= mean
x_train /= std

x_test -= mean
x_test  /= std

In [19]:
x_train.head(2)

       Time        V1        V2  ...       V28    Amount     Class
0 -2.483019 -0.612145 -0.058089  ... -0.076157  0.239109 -0.043504
1 -2.483019  0.794456  0.152387  ...  0.040681 -0.357048 -0.043504

[2 rows x 31 columns]

In [20]:
x_test.head(2)

                Time        V1        V2  ...       V28    Amount     Class
142400  32287.757795 -1.971168  0.983251  ... -0.184168 -81.69879 -0.001889
142401  32288.757795 -2.030978  2.220674  ... -0.076381 -80.69879 -0.001889

[2 rows x 31 columns]

In [21]:
from tensorflow.keras.models import Sequential
from tensorflow.keras import layers
from tensorflow.keras.regularizers import l2

In [22]:
model = Sequential()

In [24]:
model.add(layers.Dense(10, activation='relu', kernel_regularizer=l2(0.001), input_shape=(x_train.shape[1],)))
model.add(layers.Dense(8, activation='relu', kernel_regularizer=l2(0.001)))
model.add(layers.Dense(1, activation='sigmoid'))

In [25]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics='accuracy')

In [28]:
network_history = model.fit(x_train, y_train, epochs=100, batch_size=500, validation_data=(x_val, y_val))

Epoch 1/100
285/285 [==============================] - 1s 3ms/step - loss: 0.0025 - accuracy: 1.0000 - val_loss: 2.4240 - val_accuracy: 0.0013
Epoch 2/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0025 - accuracy: 1.0000 - val_loss: 2.3689 - val_accuracy: 0.0013
Epoch 3/100
285/285 [==============================] - 1s 3ms/step - loss: 0.0024 - accuracy: 1.0000 - val_loss: 2.1863 - val_accuracy: 0.0013
Epoch 4/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0024 - accuracy: 1.0000 - val_loss: 2.4185 - val_accuracy: 0.0013
Epoch 5/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0023 - accuracy: 1.0000 - val_loss: 2.5713 - val_accuracy: 0.0013
Epoch 6/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0023 - accuracy: 1.0000 - val_loss: 2.5083 - val_accuracy: 0.0013
Epoch 7/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0023 - accuracy: 1.0000 - val_loss: 2.5373 - val_accuracy: 0.0013
Epoch 8/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0022 - accuracy: 1.0000 - val_loss: 2.6792 - val_accuracy: 0.0013
Epoch 9/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0022 - accuracy: 1.0000 - val_loss: 2.3494 - val_accuracy: 0.0013
Epoch 10/100
285/285 [==============================] - 1s 3ms/step - loss: 0.0022 - accuracy: 1.0000 - val_loss: 2.0175 - val_accuracy: 0.0013
Epoch 11/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0021 - accuracy: 1.0000 - val_loss: 2.6024 - val_accuracy: 0.0013
Epoch 12/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0021 - accuracy: 1.0000 - val_loss: 1.4149 - val_accuracy: 0.0369
Epoch 13/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0021 - accuracy: 1.0000 - val_loss: 2.3427 - val_accuracy: 0.0013
Epoch 14/100
285/285 [==============================] - 1s 3ms/step - loss: 0.0020 - accuracy: 1.0000 - val_loss: 2.4343 - val_accuracy: 0.0013
Epoch 15/100
285/285 [==============================] - 1s 3ms/step - loss: 0.0020 - accuracy: 1.0000 - val_loss: 0.0136 - val_accuracy: 0.9987
Epoch 16/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0020 - accuracy: 1.0000 - val_loss: 0.0134 - val_accuracy: 0.9987
Epoch 17/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0019 - accuracy: 1.0000 - val_loss: 2.8088 - val_accuracy: 0.0013
Epoch 18/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0019 - accuracy: 1.0000 - val_loss: 2.7017 - val_accuracy: 0.0013
Epoch 19/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0019 - accuracy: 1.0000 - val_loss: 2.5672 - val_accuracy: 0.0013
Epoch 20/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0019 - accuracy: 1.0000 - val_loss: 2.9180 - val_accuracy: 0.0013
Epoch 21/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0018 - accuracy: 1.0000 - val_loss: 2.9280 - val_accuracy: 0.0013
Epoch 22/100
285/285 [==============================] - 1s 3ms/step - loss: 0.0018 - accuracy: 1.0000 - val_loss: 2.6662 - val_accuracy: 0.0013
Epoch 23/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0018 - accuracy: 1.0000 - val_loss: 0.0139 - val_accuracy: 0.9987
Epoch 24/100
285/285 [==============================] - 1s 3ms/step - loss: 0.0018 - accuracy: 1.0000 - val_loss: 2.5853 - val_accuracy: 0.0013
Epoch 25/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0018 - accuracy: 1.0000 - val_loss: 0.0139 - val_accuracy: 0.9987
Epoch 26/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0017 - accuracy: 1.0000 - val_loss: 2.8065 - val_accuracy: 0.0013
Epoch 27/100
285/285 [==============================] - 1s 3ms/step - loss: 0.0017 - accuracy: 1.0000 - val_loss: 2.7978 - val_accuracy: 0.0013
Epoch 28/100
285/285 [==============================] - 1s 3ms/step - loss: 0.0017 - accuracy: 1.0000 - val_loss: 2.9320 - val_accuracy: 0.0013
Epoch 29/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0017 - accuracy: 1.0000 - val_loss: 2.7064 - val_accuracy: 0.0015
Epoch 30/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0017 - accuracy: 1.0000 - val_loss: 2.6720 - val_accuracy: 0.0013
Epoch 31/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0016 - accuracy: 1.0000 - val_loss: 2.5870 - val_accuracy: 0.0013
Epoch 32/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0017 - accuracy: 1.0000 - val_loss: 2.6929 - val_accuracy: 0.0013
Epoch 33/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0016 - accuracy: 1.0000 - val_loss: 0.0138 - val_accuracy: 0.9987
Epoch 34/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0016 - accuracy: 1.0000 - val_loss: 3.1398 - val_accuracy: 0.0013
Epoch 35/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0016 - accuracy: 1.0000 - val_loss: 0.0132 - val_accuracy: 0.9987
Epoch 36/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0016 - accuracy: 1.0000 - val_loss: 0.0136 - val_accuracy: 0.9987
Epoch 37/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0015 - accuracy: 1.0000 - val_loss: 2.7529 - val_accuracy: 0.0013
Epoch 38/100
285/285 [==============================] - 1s 3ms/step - loss: 0.0015 - accuracy: 1.0000 - val_loss: 2.7423 - val_accuracy: 0.0013
Epoch 39/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0015 - accuracy: 1.0000 - val_loss: 2.7441 - val_accuracy: 0.0013
Epoch 40/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0015 - accuracy: 1.0000 - val_loss: 2.8612 - val_accuracy: 0.0013
Epoch 41/100
285/285 [==============================] - 1s 3ms/step - loss: 0.0015 - accuracy: 1.0000 - val_loss: 2.9310 - val_accuracy: 0.0013
Epoch 42/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0015 - accuracy: 1.0000 - val_loss: 3.2250 - val_accuracy: 0.0013
Epoch 43/100
285/285 [==============================] - 1s 3ms/step - loss: 0.0015 - accuracy: 1.0000 - val_loss: 0.0138 - val_accuracy: 0.9987
Epoch 44/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0014 - accuracy: 1.0000 - val_loss: 2.8801 - val_accuracy: 0.0013
Epoch 45/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0014 - accuracy: 1.0000 - val_loss: 0.0135 - val_accuracy: 0.9987
Epoch 46/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0014 - accuracy: 1.0000 - val_loss: 2.8562 - val_accuracy: 0.0013
Epoch 47/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0014 - accuracy: 1.0000 - val_loss: 2.8861 - val_accuracy: 0.0013
Epoch 48/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0014 - accuracy: 1.0000 - val_loss: 2.9081 - val_accuracy: 0.0013
Epoch 49/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0014 - accuracy: 1.0000 - val_loss: 0.0137 - val_accuracy: 0.9987
Epoch 50/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0014 - accuracy: 1.0000 - val_loss: 3.2007 - val_accuracy: 0.0013
Epoch 51/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0014 - accuracy: 1.0000 - val_loss: 0.0134 - val_accuracy: 0.9987
Epoch 52/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0015 - accuracy: 1.0000 - val_loss: 0.0134 - val_accuracy: 0.9987
Epoch 53/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0014 - accuracy: 1.0000 - val_loss: 0.0133 - val_accuracy: 0.9987
Epoch 54/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0013 - accuracy: 1.0000 - val_loss: 0.0136 - val_accuracy: 0.9987
Epoch 55/100
285/285 [==============================] - 1s 3ms/step - loss: 0.0013 - accuracy: 1.0000 - val_loss: 0.0133 - val_accuracy: 0.9987
Epoch 56/100
285/285 [==============================] - 1s 3ms/step - loss: 0.0013 - accuracy: 1.0000 - val_loss: 0.0135 - val_accuracy: 0.9987
Epoch 57/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0013 - accuracy: 1.0000 - val_loss: 0.0136 - val_accuracy: 0.9987
Epoch 58/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0013 - accuracy: 1.0000 - val_loss: 0.0139 - val_accuracy: 0.9987
Epoch 59/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0013 - accuracy: 1.0000 - val_loss: 0.0133 - val_accuracy: 0.9987
Epoch 60/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0013 - accuracy: 1.0000 - val_loss: 0.0131 - val_accuracy: 0.9987
Epoch 61/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0013 - accuracy: 1.0000 - val_loss: 0.0135 - val_accuracy: 0.9987
Epoch 62/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0013 - accuracy: 1.0000 - val_loss: 0.0133 - val_accuracy: 0.9987
Epoch 63/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0012 - accuracy: 1.0000 - val_loss: 0.0139 - val_accuracy: 0.9987
Epoch 64/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0012 - accuracy: 1.0000 - val_loss: 0.0137 - val_accuracy: 0.9987
Epoch 65/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0012 - accuracy: 1.0000 - val_loss: 3.3431 - val_accuracy: 0.0013
Epoch 66/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0012 - accuracy: 1.0000 - val_loss: 0.0139 - val_accuracy: 0.9987
Epoch 67/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0012 - accuracy: 1.0000 - val_loss: 0.0349 - val_accuracy: 0.9916
Epoch 68/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0012 - accuracy: 1.0000 - val_loss: 0.0134 - val_accuracy: 0.9987
Epoch 69/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0012 - accuracy: 1.0000 - val_loss: 3.1268 - val_accuracy: 0.0013
Epoch 70/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0012 - accuracy: 1.0000 - val_loss: 0.0133 - val_accuracy: 0.9987
Epoch 71/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0012 - accuracy: 1.0000 - val_loss: 0.0137 - val_accuracy: 0.9987
Epoch 72/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0012 - accuracy: 1.0000 - val_loss: 3.0452 - val_accuracy: 0.0013
Epoch 73/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0012 - accuracy: 1.0000 - val_loss: 0.0128 - val_accuracy: 0.9987
Epoch 74/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0012 - accuracy: 1.0000 - val_loss: 0.0143 - val_accuracy: 0.9987
Epoch 75/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0011 - accuracy: 1.0000 - val_loss: 3.4013 - val_accuracy: 0.0013
Epoch 76/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0011 - accuracy: 1.0000 - val_loss: 3.5565 - val_accuracy: 0.0013
Epoch 77/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0011 - accuracy: 1.0000 - val_loss: 2.9605 - val_accuracy: 0.0013
Epoch 78/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0011 - accuracy: 1.0000 - val_loss: 3.4245 - val_accuracy: 0.0013
Epoch 79/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0011 - accuracy: 1.0000 - val_loss: 0.0138 - val_accuracy: 0.9987
Epoch 80/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0011 - accuracy: 1.0000 - val_loss: 3.3616 - val_accuracy: 0.0013
Epoch 81/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0011 - accuracy: 1.0000 - val_loss: 0.0137 - val_accuracy: 0.9987
Epoch 82/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0011 - accuracy: 1.0000 - val_loss: 3.2008 - val_accuracy: 0.0013
Epoch 83/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0011 - accuracy: 1.0000 - val_loss: 0.0136 - val_accuracy: 0.9987
Epoch 84/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0011 - accuracy: 1.0000 - val_loss: 3.1843 - val_accuracy: 0.0013
Epoch 85/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0011 - accuracy: 1.0000 - val_loss: 3.3318 - val_accuracy: 0.0013
Epoch 86/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0011 - accuracy: 1.0000 - val_loss: 3.1208 - val_accuracy: 0.0013
Epoch 87/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0011 - accuracy: 1.0000 - val_loss: 3.3447 - val_accuracy: 0.0013
Epoch 88/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0011 - accuracy: 1.0000 - val_loss: 0.0136 - val_accuracy: 0.9987
Epoch 89/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0010 - accuracy: 1.0000 - val_loss: 0.0140 - val_accuracy: 0.9987
Epoch 90/100
285/285 [==============================] - 1s 3ms/step - loss: 0.0010 - accuracy: 1.0000 - val_loss: 0.0141 - val_accuracy: 0.9987
Epoch 91/100
285/285 [==============================] - 1s 3ms/step - loss: 0.0010 - accuracy: 1.0000 - val_loss: 0.0138 - val_accuracy: 0.9987
Epoch 92/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0010 - accuracy: 1.0000 - val_loss: 3.4104 - val_accuracy: 0.0013
Epoch 93/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0010 - accuracy: 1.0000 - val_loss: 0.0137 - val_accuracy: 0.9987
Epoch 94/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0010 - accuracy: 1.0000 - val_loss: 0.0136 - val_accuracy: 0.9987
Epoch 95/100
285/285 [==============================] - 1s 3ms/step - loss: 0.0010 - accuracy: 1.0000 - val_loss: 0.0150 - val_accuracy: 0.9983
Epoch 96/100
285/285 [==============================] - 1s 2ms/step - loss: 0.0010 - accuracy: 1.0000 - val_loss: 0.0139 - val_accuracy: 0.9987
Epoch 97/100
285/285 [==============================] - 1s 2ms/step - loss: 9.9574e-04 - accuracy: 1.0000 - val_loss: 0.0140 - val_accuracy: 0.9987
Epoch 98/100
285/285 [==============================] - 1s 2ms/step - loss: 9.9023e-04 - accuracy: 1.0000 - val_loss: 0.0136 - val_accuracy: 0.9987
Epoch 99/100
285/285 [==============================] - 1s 3ms/step - loss: 9.8656e-04 - accuracy: 1.0000 - val_loss: 3.6063 - val_accuracy: 0.0013
Epoch 100/100
285/285 [==============================] - 1s 3ms/step - loss: 9.7768e-04 - accuracy: 1.0000 - val_loss: 0.0137 - val_accuracy: 0.9987

In [29]:
train_loss = network_history.history['loss']

In [30]:
val_loss = network_history.history['val_loss']

In [31]:
epochs = range(1,51)

In [35]:
model.predict(x_test)

array([[6.0245082e-05],
       [6.0245082e-05],
       [6.0245082e-05],
       ...,
       [6.0245082e-05],
       [6.0245082e-05],
       [6.0245082e-05]], dtype=float32)

In [36]:
model.evaluate(x_test, y_test)

2670/2670 [==============================] - 4s 1ms/step - loss: 0.0177 - accuracy: 0.9983

[0.01773717999458313, 0.9982677698135376]