In [2]:
import numpy as np
import pandas as pd

In [3]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving ionosphere_data.csv to ionosphere_data.csv
User uploaded file "ionosphere_data.csv" with length 76038 bytes

In [4]:
data = pd.read_csv('ionosphere_data.csv')

In [5]:
data.head()

   feature1  feature2  feature3  ...  feature33  feature34  label
0         1         0   0.99539  ...    0.18641   -0.45300      g
1         1         0   1.00000  ...   -0.13738   -0.02447      b
2         1         0   1.00000  ...    0.56045   -0.38238      g
3         1         0   1.00000  ...   -0.32382    1.00000      b
4         1         0   1.00000  ...   -0.04608   -0.65697      g

[5 rows x 35 columns]

In [6]:
data.tail()

     feature1  feature2  feature3  ...  feature33  feature34  label
346         1         0   0.83508  ...    0.90546   -0.04307      g
347         1         0   0.95113  ...    0.91483    0.04712      g
348         1         0   0.94701  ...    0.92697   -0.00577      g
349         1         0   0.90608  ...    0.87403   -0.16243      g
350         1         0   0.84710  ...    0.85764   -0.06151      g

[5 rows x 35 columns]

In [7]:
data.describe()

         feature1  feature2    feature3  ...   feature32   feature33   feature34
count  351.000000     351.0  351.000000  ...  351.000000  351.000000  351.000000
mean     0.891738       0.0    0.641342  ...   -0.003794    0.349364    0.014480
std      0.311155       0.0    0.497708  ...    0.513574    0.522663    0.468337
min      0.000000       0.0   -1.000000  ...   -1.000000   -1.000000   -1.000000
25%      1.000000       0.0    0.472135  ...   -0.242595    0.000000   -0.165350
50%      1.000000       0.0    0.871110  ...    0.000000    0.409560    0.000000
75%      1.000000       0.0    1.000000  ...    0.200120    0.813765    0.171660
max      1.000000       0.0    1.000000  ...    1.000000    1.000000    1.000000

[8 rows x 34 columns]

In [8]:
print(data.shape)

(351, 35)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351 entries, 0 to 350
Data columns (total 35 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   feature1   351 non-null    int64
 1   feature2   351 non-null    int64
 2   feature3   351 non-null    float64
 3   feature4   351 non-null    float64
 4   feature5   351 non-null    float64
 5   feature6   351 non-null    float64
 6   feature7   351 non-null    float64
 7   feature8   351 non-null    float64
 8   feature9   351 non-null    float64
 9   feature10  351 non-null    float64
 10  feature11  351 non-null    float64
 11  feature12  351 non-null    float64
 12  feature13  351 non-null    float64
 13  feature14  351 non-null    float64
 14  feature15  351 non-null    float64
 15  feature16  351 non-null    float64
 16  feature17  351 non-null    float64
 17  feature18  351 non-null    float64
 18  feature19  351 non-null    float64
 19  feature20  351 non-null    float64
 20  feature21  351 non-null    float64
 21  feature22  351 non-null    float64
 22  feature23  351 non-null    float64
 23  feature24  351 non-null    float64
 24  feature25  351 non-null    float64
 25  feature26  351 non-null    float64
 26  feature27  351 non-null    float64
 27  feature28  351 non-null    float64
 28  feature29  351 non-null    float64
 29  feature30  351 non-null    float64
 30  feature31  351 non-null    float64
 31  feature32  351 non-null    float64
 32  feature33  351 non-null    float64
 33  feature34  351 non-null    float64
 34  label      351 non-null    object
dtypes: float64(32), int64(2), object(1)
memory usage: 96.1+ KB

In [10]:
data.isnull().sum()

feature1     0
feature2     0
feature3     0
feature4     0
feature5     0
feature6     0
feature7     0
feature8     0
feature9     0
feature10    0
feature11    0
feature12    0
feature13    0
feature14    0
feature15    0
feature16    0
feature17    0
feature18    0
feature19    0
feature20    0
feature21    0
feature22    0
feature23    0
feature24    0
feature25    0
feature26    0
feature27    0
feature28    0
feature29    0
feature30    0
feature31    0
feature32    0
feature33    0
feature34    0
label        0
dtype: int64

In [14]:
data.feature2

0      0
1      0
2      0
3      0
4      0
      ..
346    0
347    0
348    0
349    0
350    0
Name: feature2, Length: 351, dtype: int64

In [15]:
# feature2 has 0 values, it's useless for the data so will drop this
data.drop(columns='feature2', inplace=True)

In [16]:
data.label.value_counts()

g    225
b    126
Name: label, dtype: int64

In [17]:
# encode label column, b=1 and g=0
replace_values = {'label':{'g':0, 'b':1}}

In [18]:
data = data.replace(replace_values)

In [19]:
data = data.sample(frac=1)

In [20]:
data

     feature1  feature3  feature4  ...  feature33  feature34  label
221         1   0.80627   0.13069  ...   -0.23846    0.31154      0
134         1   0.00000   0.00000  ...    0.00000    0.00000      1
179         1   1.00000  -0.08183  ...    0.29221   -0.89621      0
200         0   0.00000   0.00000  ...    0.00000    0.00000      1
216         0   1.00000  -1.00000  ...    1.00000   -1.00000      1
..        ...       ...       ...  ...        ...        ...    ...
70          1   1.00000   0.03529  ...    0.71493    0.75837      0
287         1   0.94080   0.11933  ...    0.77269    0.07508      0
266         1   0.76627   0.21106  ...   -0.11894   -0.27218      0
342         1   0.82254  -0.07572  ...    0.78439    0.01214      0
190         0  -1.00000  -1.00000  ...    0.00000    0.00000      1

[351 rows x 34 columns]

In [22]:
y = data.label
x = data.drop(columns='label')

In [23]:
x.head()

     feature1  feature3  feature4  ...  feature32  feature33  feature34
221         1   0.80627   0.13069  ...    0.23896   -0.23846    0.31154
134         1   0.00000   0.00000  ...   -1.00000    0.00000    0.00000
179         1   1.00000  -0.08183  ...   -0.88846    0.29221   -0.89621
200         0   0.00000   0.00000  ...   -1.00000    0.00000    0.00000
216         0   1.00000  -1.00000  ...    1.00000    1.00000   -1.00000

[5 rows x 33 columns]

In [24]:
y

221    0
134    1
179    0
200    1
216    1
      ..
70     0
287    0
266    0
342    0
190    1
Name: label, Length: 351, dtype: int64

In [25]:
# split  data to train and test set
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size= 0.4 )

In [26]:
x_train

     feature1  feature3  feature4  ...  feature32  feature33  feature34
114         1   0.91353   0.81586  ...    0.00000    0.00000    0.00000
148         1   0.85271   0.05426  ...    0.87317    1.00000    1.00000
35          1   0.66161  -1.00000  ...    0.65268    1.00000    0.34732
295         1   0.46785   0.11308  ...   -0.11752    0.56319   -0.04435
212         1  -1.00000  -0.59677  ...    0.00000    0.00000    0.00000
..        ...       ...       ...  ...        ...        ...        ...
239         1   0.61857   0.10850  ...   -0.05145    0.65213   -0.04698
8           1   0.96355  -0.07198  ...   -0.72779    0.38895   -0.73420
156         1   0.03852   0.02568  ...   -0.01854   -0.01427    0.01997
336         1   0.88420   0.36724  ...   -0.21542    0.56286    0.02823
155         1   0.72414  -0.01084  ...    0.02956    0.79015    0.00788

[210 rows x 33 columns]

In [27]:
y_train

114    1
148    1
35     1
295    0
212    1
      ..
239    0
8      0
156    1
336    0
155    0
Name: label, Length: 210, dtype: int64

In [28]:
# Build  Model
from tensorflow.keras.models import Sequential
from tensorflow.keras import layers
from tensorflow.keras import regularizers

In [29]:
model = Sequential()

In [31]:
model.add(layers.Dense(16, activation='relu', kernel_regularizer = regularizers.l2(0.001),  input_shape=(x_train.shape[1],)))
model.add(layers.Dense(8, activation='relu' , kernel_regularizer = regularizers.l2(0.001)))
model.add(layers.Dense(4, activation='relu' , kernel_regularizer = regularizers.l2(0.001)))
model.add(layers.Dense(1, activation='sigmoid'))

In [32]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics='accuracy')

In [42]:
model.fit(x_train, y_train, epochs=100, batch_size=8)

Epoch 1/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0633 - accuracy: 1.0000
Epoch 2/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0626 - accuracy: 1.0000
Epoch 3/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0618 - accuracy: 1.0000
Epoch 4/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0613 - accuracy: 1.0000
Epoch 5/100
27/27 [==============================] - 0s 2ms/step - loss: 0.0611 - accuracy: 1.0000
Epoch 6/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0605 - accuracy: 1.0000
Epoch 7/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0597 - accuracy: 1.0000
Epoch 8/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0591 - accuracy: 1.0000
Epoch 9/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0587 - accuracy: 1.0000
Epoch 10/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0582 - accuracy: 1.0000
Epoch 11/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0578 - accuracy: 1.0000
Epoch 12/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0572 - accuracy: 1.0000
Epoch 13/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0568 - accuracy: 1.0000
Epoch 14/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0563 - accuracy: 1.0000
Epoch 15/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0561 - accuracy: 1.0000
Epoch 16/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0556 - accuracy: 1.0000
Epoch 17/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0551 - accuracy: 1.0000
Epoch 18/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0547 - accuracy: 1.0000
Epoch 19/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0543 - accuracy: 1.0000
Epoch 20/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0541 - accuracy: 1.0000
Epoch 21/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0537 - accuracy: 1.0000
Epoch 22/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0535 - accuracy: 1.0000
Epoch 23/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0531 - accuracy: 1.0000
Epoch 24/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0527 - accuracy: 1.0000
Epoch 25/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0526 - accuracy: 1.0000
Epoch 26/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0520 - accuracy: 1.0000
Epoch 27/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0517 - accuracy: 1.0000
Epoch 28/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0515 - accuracy: 1.0000
Epoch 29/100
27/27 [==============================] - 0s 2ms/step - loss: 0.0514 - accuracy: 1.0000
Epoch 30/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0506 - accuracy: 1.0000
Epoch 31/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0501 - accuracy: 1.0000
Epoch 32/100
27/27 [==============================] - 0s 2ms/step - loss: 0.0497 - accuracy: 1.0000
Epoch 33/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0493 - accuracy: 1.0000
Epoch 34/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0489 - accuracy: 1.0000
Epoch 35/100
27/27 [==============================] - 0s 2ms/step - loss: 0.0489 - accuracy: 1.0000
Epoch 36/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0484 - accuracy: 1.0000
Epoch 37/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0480 - accuracy: 1.0000
Epoch 38/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0480 - accuracy: 1.0000
Epoch 39/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0476 - accuracy: 1.0000
Epoch 40/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0473 - accuracy: 1.0000
Epoch 41/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0469 - accuracy: 1.0000
Epoch 42/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0466 - accuracy: 1.0000
Epoch 43/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0464 - accuracy: 1.0000
Epoch 44/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0461 - accuracy: 1.0000
Epoch 45/100
27/27 [==============================] - 0s 2ms/step - loss: 0.0458 - accuracy: 1.0000
Epoch 46/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0455 - accuracy: 1.0000
Epoch 47/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0453 - accuracy: 1.0000
Epoch 48/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0450 - accuracy: 1.0000
Epoch 49/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0447 - accuracy: 1.0000
Epoch 50/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0444 - accuracy: 1.0000
Epoch 51/100
27/27 [==============================] - 0s 2ms/step - loss: 0.0442 - accuracy: 1.0000
Epoch 52/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0438 - accuracy: 1.0000
Epoch 53/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0435 - accuracy: 1.0000
Epoch 54/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0432 - accuracy: 1.0000
Epoch 55/100
27/27 [==============================] - 0s 2ms/step - loss: 0.0429 - accuracy: 1.0000
Epoch 56/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0426 - accuracy: 1.0000
Epoch 57/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0421 - accuracy: 1.0000
Epoch 58/100
27/27 [==============================] - 0s 2ms/step - loss: 0.0418 - accuracy: 1.0000
Epoch 59/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0413 - accuracy: 1.0000
Epoch 60/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0411 - accuracy: 1.0000
Epoch 61/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0409 - accuracy: 1.0000
Epoch 62/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0406 - accuracy: 1.0000
Epoch 63/100
27/27 [==============================] - 0s 2ms/step - loss: 0.0402 - accuracy: 1.0000
Epoch 64/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0400 - accuracy: 1.0000
Epoch 65/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0399 - accuracy: 1.0000
Epoch 66/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0393 - accuracy: 1.0000
Epoch 67/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0390 - accuracy: 1.0000
Epoch 68/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0387 - accuracy: 1.0000
Epoch 69/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0385 - accuracy: 1.0000
Epoch 70/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0381 - accuracy: 1.0000
Epoch 71/100
27/27 [==============================] - 0s 2ms/step - loss: 0.0378 - accuracy: 1.0000
Epoch 72/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0376 - accuracy: 1.0000
Epoch 73/100
27/27 [==============================] - 0s 2ms/step - loss: 0.0374 - accuracy: 1.0000
Epoch 74/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0371 - accuracy: 1.0000
Epoch 75/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0368 - accuracy: 1.0000
Epoch 76/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0369 - accuracy: 1.0000
Epoch 77/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0368 - accuracy: 1.0000
Epoch 78/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0361 - accuracy: 1.0000
Epoch 79/100
27/27 [==============================] - 0s 2ms/step - loss: 0.0358 - accuracy: 1.0000
Epoch 80/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0355 - accuracy: 1.0000
Epoch 81/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0352 - accuracy: 1.0000
Epoch 82/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0351 - accuracy: 1.0000
Epoch 83/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0348 - accuracy: 1.0000
Epoch 84/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0347 - accuracy: 1.0000
Epoch 85/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0345 - accuracy: 1.0000
Epoch 86/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0341 - accuracy: 1.0000
Epoch 87/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0339 - accuracy: 1.0000
Epoch 88/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0336 - accuracy: 1.0000
Epoch 89/100
27/27 [==============================] - 0s 2ms/step - loss: 0.0334 - accuracy: 1.0000
Epoch 90/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0332 - accuracy: 1.0000
Epoch 91/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0329 - accuracy: 1.0000
Epoch 92/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0327 - accuracy: 1.0000
Epoch 93/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0324 - accuracy: 1.0000
Epoch 94/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0323 - accuracy: 1.0000
Epoch 95/100
27/27 [==============================] - 0s 2ms/step - loss: 0.0320 - accuracy: 1.0000
Epoch 96/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0318 - accuracy: 1.0000
Epoch 97/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0316 - accuracy: 1.0000
Epoch 98/100
27/27 [==============================] - 0s 1ms/step - loss: 0.0314 - accuracy: 1.0000
Epoch 99/100
27/27 [==============================] - 0s 2ms/step - loss: 0.0311 - accuracy: 1.0000
Epoch 100/100
27/27 [==============================] - 0s 2ms/step - loss: 0.0310 - accuracy: 1.0000

In [34]:
predict = model.predict(x_test)

In [35]:
model.evaluate(x_test, y_test)

5/5 [==============================] - 0s 3ms/step - loss: 0.3411 - accuracy: 0.9149

[0.3410736918449402, 0.914893627166748]

In [36]:
predict.shape

(141, 1)

In [37]:
predict=predict.reshape(141)

In [38]:
output = pd.DataFrame({'Actual': y_test})

In [39]:
output['prediction'] = predict

In [40]:
output.reset_index(inplace=True)

In [41]:
output

     index  Actual  prediction
0      228       1    0.995693
1      111       0    0.010543
2      227       0    0.000770
3       39       1    0.003585
4       58       0    0.000312
..     ...     ...         ...
136    287       0    0.000560
137     56       0    0.002395
138    147       0    0.000348
139    241       0    0.000335
140    138       1    0.997680

[141 rows x 3 columns]